<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssimonson.memorygame" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/brain"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Manager"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores"
            android:parentActivityName=".Manager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ssimonson.memorygame.Manager" />
        </activity>
    </application>

</manifest>
